.Navbar {
    width: 1366px;
    height: 73.03px;
    background-color: #ffffff;
    color: #800080;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 182px;
    padding-left: 86px;
    align-items: center;
}

.logo {
    padding-top: 20px;
}

.NavItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.NavItem>span {
    padding-left: 28px;
    font-size: 18px;
    line-height: 22.23px;
}

.my_assignment,
.ChatWithMentor {
    color: #80008040;
}

.ProfileName {
    color: #800080;
    display: flex;
    align-items: center;
}

.Profile {
    font-size: 20px;
    padding-right: 6px;
}

.arrow {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

.MobileviewProfile {
    display: none;
}
/* --------------   responstiveness   ------------ */
@media only screen and (max-width: 800px) {
    .Navbar {
        width: 400px;
        margin: 0;
    }

    .logo {
        width: 100px;
        padding-left: 0;
        justify-content: flex-start;
    }

    .title {
        width: 100px;
        padding-left: 20px;
        align-items: center;
    }

    .NavItem {
        display: none;
    }

    .MobileviewProfile {
        margin-top: 20px;
        margin-right: 20px;
        width: 165px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #800080;
        color: #ffffff;
        border-radius: 10px;

    }
}