.details {
    position: relative;
    width: 358px;
    height: 228px;
    background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
    border-radius: 20px;
}

.detailsOFKumar {
    width: 240px;
    height: 228px;
    background: linear-gradient(270deg, #ae136b 0%, #FF864C 100%);
    border-radius: 20px;
}

#details {
    position: absolute;
    width: 104px;
    height: 228px;
    right: 0px;
    /* top: 370px; */

    background: linear-gradient(270deg, #6D6D6D 0%, rgba(61, 49, 49, 0) 42.79%);
    border-radius: 0px 20px 20px 0px;
}

.infoContainer {
    position: absolute;
    padding: 20px;
    color: #ffffff;
    
}
/* .date{
    position: absolute;
    right: 10px;
    top: 20px;
} */
.top-part {
    display: flex;
    gap: 90px;
}
.info{
    position: absolute;
    right: 20px;
}

.infoTitle {
    font-size: 16px;
    font-weight: 700;
}
.KumarInfo{
    display: none;
}

.part-2 {
    padding-top: 10px;
}

.bottomPart {
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
    color: #ffffff;
}
.date{
    color: #ffffff;
    padding-top: 20px;
    margin-left: 20px;
}

.amount {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}
@media only screen and (max-width: 800px) {
    .details {
        margin-left: 15px;
    }
    .KumarInfo{
        display: flex;
        right: 20px;
        position: absolute;
    }
    .detailsOFKumar{
        width: 358px;
        background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
    }
    #details {
       display: none;
    }
   
  }