/* .container{

} */
.EnrolledTitle {
    color: #800080;
    /* background-color: #626262; */
    font-weight: 600;
    font-size: 20px;
    padding-top: 79px;
}

.EnrolledTitle>span {
    color: #626262;
    font-weight: 400;
}
.detailContain{
    display: flex;
    gap: 20px;

}
@media only screen and (max-width: 800px) {
    .EnrolledTitle {
        margin-left: 20px;
    }
    .detailContain{
        display: flex;
        flex-direction: column;
    }
  }
